Workflows/Domain Blocked Sub-Workflow.json
{
  "name": "Domain Blocked Sub-Workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by MRD - Domain Block Handling",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5b3059fb-ee8c-4f69-9e13-3190a6f7c9a0",
              "leftValue": "{{ $json.status }}",
              "rightValue": "Success",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "ee3171bb-c882-47fb-a2bb-77a091117bd3",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        352
      ],
      "id": "fba1db04-6e6b-4fa2-a368-88ad3440d5fb",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $node['When Executed by MRD - Domain Block Handling'].json.channel }}\",\n  \"thread_ts\": \"{{ $node['When Executed by MRD - Domain Block Handling'].json.ts }}\",\n  \"text\": \"✅ Success: Domain Replaced\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*✅ Success:* The domain has been successfully replaced in MyAffiliates.\\n\\n*Old Domain:* `{{ $node['When Executed by MRD - Domain Block Handling'].json.old_domain }}`\\n*New Domain:* `{{ $node['When Executed by MRD - Domain Block Handling'].json.new_domain }}`\\n*Instance:* `{{ $node['When Executed by MRD - Domain Block Handling'].json.instance }}`\\n\\n_The system has completed the Search & Replace job automatically._\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        704,
        192
      ],
      "id": "834a41f4-c188-4271-86cf-b3589d956172",
      "name": "Railway Success",
      "credentials": {
        "slackApi": {
          "id": "EoyzvpOSUCrMRlzO",
          "name": "Slack account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"{{ $node['When Executed by MRD - Domain Block Handling'].json.channel }}\",\n  \"thread_ts\": \"{{ $node['When Executed by MRD - Domain Block Handling'].json.ts }}\",\n  \"text\": \"⚠️ Execution Error: Railway Job Failed\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*⚠️ Execution Error:* The process in MyAffiliates could not be completed.\\n\\n*Target Domain:* `{{ $node['When Executed by MRD - Domain Block Handling'].json.old_domain }}`\\n*My Affiliates Message:* `{{ $json.message }}`\\n\\n_The Product Team will handle this manually and provide more details shortly._\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        704,
        448
      ],
      "id": "c122f690-92c4-406b-82ba-31525a0ccc7d",
      "name": "Railway Failed",
      "credentials": {
        "slackApi": {
          "id": "EoyzvpOSUCrMRlzO",
          "name": "Slack account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://myaffiliates-worker-production.up.railway.app/job",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"instance\": \"{{ $json.instance }}\",\n  \"blockedDomain\": \"{{ $json.old_domain }}\",\n  \"replacementDomain\": \"{{ $json.new_domain }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        352
      ],
      "id": "6415ce84-7c98-440a-9bf8-f447c997b4f5",
      "name": "Railway Worker",
      "credentials": {
        "slackApi": {
          "id": "EoyzvpOSUCrMRlzO",
          "name": "Slack account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "reaction",
        "channelId": {
          "__rl": true,
          "value": "C08S7E2S7C2",
          "mode": "list",
          "cachedResultName": "marketing-support-requests"
        },
        "timestamp": "={{ $node['When Executed by MRD - Domain Block Handling'].json.ts }}",
        "name": "rotating_light"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        912,
        448
      ],
      "id": "6cf297c1-df5a-47fd-b6e6-fa1828e5618d",
      "name": "Add a reaction",
      "webhookId": "953f5d2a-a118-4f81-8faf-69fa2ba060ca",
      "credentials": {
        "slackApi": {
          "id": "EoyzvpOSUCrMRlzO",
          "name": "Slack account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "reaction",
        "channelId": {
          "__rl": true,
          "value": "C08S7E2S7C2",
          "mode": "list",
          "cachedResultName": "marketing-support-requests"
        },
        "timestamp": "={{ $node['When Executed by MRD - Domain Block Handling'].json.ts }}",
        "name": "white_check_mark"
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        912,
        192
      ],
      "id": "58d335f0-3053-44d2-9242-402065c4e959",
      "name": "Add a reaction1",
      "webhookId": "25b0a263-302e-4e27-9dd6-fcc521873567",
      "credentials": {
        "slackApi": {
          "id": "EoyzvpOSUCrMRlzO",
          "name": "Slack account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by MRD - Domain Block Handling": {
      "main": [
        [
          {
            "node": "Railway Worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Railway Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Railway Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Railway Worker": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Railway Failed": {
      "main": [
        [
          {
            "node": "Add a reaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Railway Success": {
      "main": [
        [
          {
            "node": "Add a reaction1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0938b52d-6e2e-4072-a18a-1122da09f898",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed8fbabe0a9266e3c88d66e147ac48c21634f41c14e8443e97aadf8c6ae93cde"
  },
  "id": "0Ppk8hnp0auQk5pp",
  "tags": []
}